.faq-img {
  height: auto;
  width: 100%;
 
}
.twitter-i {
  color: #1da1f2ff;
}
.telegram-i{
    color: #F27022FF
    ;
}
.setfaq{
  margin-top: 150px;
}
.faq-i{
    margin-top: 50px;
    
}
.faq-heading{
  font-size: 40px;
}