.first-h{
    font-size: 40px;
    margin-top: 36px;
}
.first-comp{
    padding: 100px 50px;
}
.first-p{
    margin-top: 32px;
    margin-bottom: 32px;
}
.first-p2{
    margin-bottom: 32px;
}
.firstimg{
    width: 75%;
    margin-left: 30px;
    margin-top: 30px;
    height: auto;
}
.first-left{
    padding-right: 150px;
}