.checked{
   
    color: #FE5E00FF;
}
.fourth-h{
    font-size: 40px;
}
.fourth-bg{
    background-color: #745F98FF;
}
.fourth-uper{
   padding: 100px 100px;
    background-color: black;
    border-radius: 20px;
}
.fourt-img{
    height: auto;
    width: 100%;
}
.first-check{
    margin-right: 100px;
}
.f-btn{
    background-color: #FE5E00FF;
    color: white;
    display: block;
    padding: 17px 40px 17px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}