.checked {
  color: #fe5e00ff;
}
.fourth-h {
  font-size: 40px;
}
.fourth-bg {
  background-color: #745f98ff;
}
.dropdown-menu{
    background-color:#fe5e00ff;
  
}
.fourth-uper {
  padding: 90px 60px;
  background-color: black;
  border-radius: 20px;
}
.fourth-linebefore {
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: white;
}
.fourt-img {
  height: auto;
  max-width: 100%;
}
.first-check {
  margin-right: 100px;
}
.dropdown-item{
    background-color: #fe5e00ff;
    color: white;
}
.dropdown-item:hover{
    background-color: #fe5e00ff;
    color: white;
}
.f-btn {
  background-color: #fe5e00ff;
  color: white;
  display: block;
  padding: 17px 40px 17px 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}
.f-btn:hover{
    background-color: #fe5e00ff;
}
@media only screen and (max-width: 600px) {  
  .fourth-uper {
    padding: 50px 25px;    
  }
}