.card-h{
    font-size: 24px;
}
.s-card{
    background-color: transparent;
    padding: 10px;
}
.s-card:hover{
    background-color: rgba(242, 112, 34 ,0.2);
}
.tokenomics-linebefore{
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: white;
}