.card-head{
    color: black;
    font-size: 27px;
}

.third-top{
    font-size: 40px;
}

/* .roadmap{
    background-image: url("../../Media/roadmapbg.png");
    background-repeat: no-repeat;
    
} */
.roadmap-list-square{
    list-style-type: square;
}